.page {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: auto;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.button {
    border: none;
    outline: none;
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: $basic_white;
    padding: 3px 17px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

// .arial-grey {
//   font-family: "Arial", sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 18px;
//   color: $special_dark-grey;
// }

// .h3-title {
//   font-size: 24px;
//   line-height: 26px;
//   position: relative;
//   background-color: $basic_white;

//   @media (min-width: $tablet-width) {
//     font-size: 36px;
//     line-height: 36px;
//     padding: 0 40px;
//     margin-left: -40px;

//     &::before {
//       content: "";
//       position: absolute;
//       width: 100vw;
//       height: 2px;
//       background-color: $basic_green;
//       top: 20px;
//       // z-index: -1;
//       right: 100%;
//     }
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     width: 100vw;
//     height: 2px;
//     background-color: $basic_green;
//     top: 15px;
//     // z-index: -1;
//     left: 100%;

//     @media (min-width: $tablet-width) {
//       top: 20px;
//     }
//   }

//   &:nth-child(2) {
//     max-width: 200px;

//     @media (min-width: $tablet-width) {
//       max-width: 592px;
//       // margin: 0 auto;
//     }
//   }

//   &:nth-child(4) {
//     max-width: 140px;

//     @media (min-width: $tablet-width) {
//       max-width: 260px;
//       margin-top: -30px;
//     }

//     @media (min-width: $desktop-width) {
//       margin-top: -3px;
//     }
//   }

//   &:nth-child(6) {
//     max-width: 160px;

//     @media (min-width: $tablet-width) {
//       max-width: 290px;
//       margin-top: -12px;
//     }

//     @media (min-width: $desktop-width) {
//       margin-top: 15px;
//     }
//   }
// }
